@{
    Layout = "_Layout";
    ViewData["Title"] = "Diner Search";
}
<div id="content">
<h1>Diners</h1>

@using Restaurant.Models;
<hr />
@if(@Model.Count == 0)
{
    <h3>No diners have been added yet</h3>
}

    @foreach(Diner diner in Model)
    {
        <h3>@Html.ActionLink($"{diner.Name}", "Details", new {id = diner.DinerId})</h3>
    }
</div>

<button>@Html.ActionLink("Add new diner", "Create")</button>
<br />
<button>@Html.ActionLink("Go Home", "Index", "Home")</button>

