@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="text-center">
    <p>@Html.ActionLink("See all diners", "Index", "Diners")</p>
    <p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>
</div>
