@{
    Layout = "_Layout";
}

@model Restaurant.Models.Cuisine

<h4>See all Cuisines</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    <br />
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
    <br />
    <br />
    <input type="submit" value="Add diner" />
}

<button>@Html.ActionLink("Show all cuisines", "Index")</button>