html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
input {
	background-color: whitesmoke;
	border-radius: 3px;
	border-color: transparent;
}
textarea {
	background-color: whitesmoke;
	border-radius: 3px;
	border-color: transparent;
}

input:hover {
	border-color: lightcoral;
}
textarea:hover {
	border-color: lightcoral;
}